<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="example.com.demoapp" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SearchActivity"
            android:label="@string/title_activity_search" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.DisplaySubActivity"
            android:label="@string/title_activity_shopping" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.SubPagerActivity"
            android:label="@string/title_activity_display"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.PopupActivity"
            android:label="@string/PopUp_title"
            android:theme="@style/AppDialogTheme" />
        <activity
            android:name=".activity.AddEditTagActivity"
            android:label="@string/title_activity_add_edit_tag"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.AddEditMySentencesActivity"
            android:label="@string/title_activity_add_new_my_sentences"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.RecordActivity"
            android:label="@string/title_activity_record" />
        <activity
            android:name=".activity.PopUpMySenActivity"
            android:label="@string/title_activity_pop_up_my_sen"
            android:theme="@style/AppDialogTheme">
        </activity>
        <activity
            android:name=".activity.TagPagerActivity"
            android:label="List by Tag"></activity>
    </application>

</manifest>
